{{#partial "styles"}}
    <link rel='stylesheet' href='/css/Style.css' type="text/css">
{{/partial}}
{{#partial "header"}}
    <div class="container">
        <h2>REPORT ANIMAL SPOTTED ( ENDANGERED )</h2>
        <br>
    </div>
{{/partial}}
{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--<img src="/images/animal5.jpg">-->
            </div>
            <div class="col-md-6">
                <div class="form-name">
                    <h3>FILL FORM BELOW POST ALERT</h3>
                    <br>
                </div>
                <form action="/Animal" method="post">
                    <div class="form-group">
                        <label for="species_name">Species Name</label>
                        <input name="species_name" placeholder="Enter species spotted" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="location">Spotted At</label>
                        <input name="Spotted_At" placeholder="Enter current location of animal" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="health">Health of Species</label>
                        <select name="Health">
                            <option value="healthy">healthy</option>
                            <option value="okay">okay</option>
                            <option value="ill">ill</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="age">Age of Species</label>
                        <select name="Age">
                            <option value="newborn">newborn</option>
                            <option value="young">young</option>
                            <option value="adult">adult</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger">POST ALERT</button>
                </form>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}